

      <div class="row">
        <div class="col-sm-12 col-xl-12">
          <div class="card card-body stat-widget">
            <div class="card-title d-flex justify-content-between align-items-center">
              <h5 class="">Liste des Tickets de Support</h5>
              <!-- Add Button -->
              <button class="btn btn-outline-success mt-3" data-bs-toggle="modal" data-bs-target="#addModal">Add New Ticket</button>

              <!-- Modal -->
              <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModal" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="addModalLabel">Add New Ticket</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

<app-form-ajouterTicket></app-form-ajouterTicket>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="transactions-list">
<app-list-Ticket></app-list-Ticket>
            </div>
          </div>
        </div>
      </div>
