<div *ngIf="eq">
<form class="card-body mb-4" (ngSubmit)="onSubmit()">
<div class="mb-3">
    <label for="nom" class="form-label">Nom:</label>
    <input type="text" class="form-control" id="nom" [(ngModel)]="eq.nom" name="nom" required />
  </div>
  <div class="mb-3">
    <img src="{{ eq.imageUrl }}" alt="">
    <label class="form-label" for="imageurl">Image URL:</label>
    <input class="form-control" id="imageurl" [(ngModel)]="eq.imageUrl" name="imageurl" required />
  </div>
  <div class="mb-3">
    <label class="form-label" for="serialnumber">Serial Number:</label>
    <input class="form-control" id="serialnumber" [(ngModel)]="eq.serialnumber" name="serialnumber" required />
  </div>
  <div class="mb-3">
    <label class="form-label" for="description">Description:</label>
    <input class="form-control" id="description" [(ngModel)]="eq.description" name="description" required />
  </div>

  <div class="mb-3">
    <label class="form-label" for="etat">État:</label>
    <select id="etat" class="form-select" [(ngModel)]="eq.etat" name="etat" required>
      <option value="EN_SERVICE">En Service</option>
      <option value="HORS_SERVICE">Hors Service</option>
    </select>
  </div>

  <button type="submit" class="btn btn-outline-success">Update Equipement</button>
</form>
</div>
<div *ngIf="!eq">
  <p>No equipement data available to update.</p>
</div>
