<div class="card table-widget">
  <div class="card-body">
    <h5 class="card-title">Recent Orders</h5>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Customer</th>
          <th scope="col">Product</th>
          <th scope="col">Invoice</th>
          <th scope="col">Price</th>
          <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row"><img src="../../assets/images/avatars/profile-image-1.png" alt="">Anna Doe</th>
          <td>Modern</td>
          <td>#53327</td>
          <td>$20</td>
          <td><span class="badge bg-info">Shipped</span></td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
