<div class="page-container">
<app-navbar></app-navbar>

  <div class="page-sidebar">
<app-sidebar></app-sidebar>
  </div>

  <div class="page-content">
    <div class="main-wrapper">

<app-statistique></app-statistique>

      <div class="row">

        <div class="col-sm-6 col-xl-6">
          <div class="card stat-widget">
            <div class="card-body">
              <h5 class="card-title">Les Derniers Techniciens</h5>

              <div class="transactions-list">
                <div class="tr-item">
                 <app-list-technicien></app-list-technicien>
                </div>
              </div>

            </div>
          </div>
        </div>


        <div class="col-sm-6">
          <div class="card stat-widget">
            <div class="card-body">
              <h5 class="card-title">Les Dernier Utilisateurs</h5>


              <div class="transactions-list">
                <div class="tr-item">
<app-list-utilisateur></app-list-utilisateur>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="card table-widget">
            <div class="card-body">
              <h5 class="card-title">Recent Orders</h5>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">Customer</th>
                    <th scope="col">Product</th>
                    <th scope="col">Invoice</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row"><img src="../../assets/images/avatars/profile-image-1.png" alt="">Anna Doe</th>
                    <td>Modern</td>
                    <td>#53327</td>
                    <td>$20</td>
                    <td><span class="badge bg-info">Shipped</span></td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


        <div class="col-sm-12 col-md-4">
          <div class="card stat-widget">
            <div class="card-body">
              <h5 class="card-title">Panne</h5>

              <div class="transactions-list">
                <app-list-panne></app-list-panne>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
