<div class="row">
<div class="col-md-6 col-xl-3">
  <div class="card stat-widget">
    <div class="card-body">
      <h5 class="card-title">New Customers</h5>
      <h2>132</h2>
      <p>From last week</p>

    </div>
  </div>
</div>
<div class="col-md-6 col-xl-3">
  <div class="card stat-widget">
    <div class="card-body">
      <h5 class="card-title">Orders</h5>
      <h2>287</h2>
      <p>Orders in waitlist</p>
    </div>
  </div>
</div>
<div class="col-md-6 col-xl-3">
  <div class="card stat-widget">
    <div class="card-body">
      <h5 class="card-title">Monthly Profit</h5>
      <h2>7.4K</h2>
      <p>For last 30 days</p>

    </div>
  </div>
</div>
<div class="col-md-6 col-xl-3">
  <div class="card stat-widget">
    <div class="card-body">
      <h5 class="card-title">Orders</h5>
      <h2>87</h2>
      <p>Orders in waitlist</p>

    </div>
  </div>
</div>
</div>
