<div class="row">
  <div class="col-md-6 col-xl-3">
    <div class="card stat-widget">
      <div class="card-body">
        <h5 class="card-title">Les Utilisateurs</h5>
        <h2>8</h2>
        <p>Utilisateurs inscrits</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card stat-widget">
      <div class="card-body">
        <h5 class="card-title">Les Techniciens</h5>
        <h2>9</h2>
        <p>Techniciens disponibles</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card stat-widget">
      <div class="card-body">
        <h5 class="card-title">Les Pannes</h5>
        <h2>5</h2>
        <p>Nombre de pannes</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card stat-widget">
      <div class="card-body">
        <h5 class="card-title">Les Tickets</h5>
        <h2>0</h2>
        <p>Tickets en attente</p>
      </div>
    </div>
  </div>
</div>
