<ul class="list-unstyled accordion-menu">
  <li class="sidebar-title">
    Main
  </li>

  <li class="active-page">
    <a href="Admin"><i data-feather="home"></i>Dashboard</a>
  </li>

  <li class="sidebar-title">
    Elements
  </li>

  <li>
    <a routerLink="/Admin/Technicien"><i data-feather="tool"></i>Technicien</a>
  </li>
  <li>
    <a routerLink="/Admin/Utilisateur"><i data-feather="user"></i>Utilisateur</a>
  </li>

  <li>
    <a routerLink="/Admin/Panne"><i data-feather="gift"></i>Pannes</a>
  </li>
  <li>
    <a routerLink="/Admin/Equipement"><i data-feather="edit"></i>Équipements</a>
  </li>
</ul>
