<ul class="list-unstyled accordion-menu">
  <li class="sidebar-title">
    Main
  </li>
  <li class="active-page">
    <a href="Admin"><i data-feather="home"></i>Dashboard</a>
  </li>

  <li class="sidebar-title">
    Elements
  </li>

  <li>
    <a routerLink="Technicien"><i data-feather="tool"></i>Technicien</a>
  </li>
  <li>
    <a routerLink="Utilisateur"><i data-feather="user"></i>Utilisateur</a>
  </li>

  <li>
    <a routerLink="Panne"><i data-feather="gift"></i>Panne</a>
  </li>
  <li>
    <a href="index-2.html"><i data-feather="edit"></i>Form</a>
  </li>
</ul>
